nav.navbar
    .nav-left
        a(href="/home") 
            span.logo INSPIRO
        a(href='/explore') Explore
        a(href='/tutorials') Tutorials

    .nav-middle
        input.search(type='text', placeholder='Search...')


    .nav-right
        .profile
         if user.profileImage
            a(href=`/profile/user/${user.id}`) 
                img.nav-img(src=(user.profileImage || '/images/default-profile.png') alt='Profile Image')
            //- span #{user.name}
