nav.navbar
    .nav-left
        a(href="/home") 
            span.logo INSPIRO
        a(href='/search/') Explore
        a(href='/search/') Tutorials

    .nav-middle
        form.search(action="/search/" method="get")
            input(type="text" name="query" placeholder="Search..." required)
            button.btn.tooltip(type="submit")
                i.search-icon(class="fas fa-search") 
                span.tooltiptext Search


    .nav-right
        .profile
         if sessionUser.profileImage
            a(href=`/profile/user/${sessionUser.id}`) 
                img.nav-img(src=(sessionUser.profileImage) alt='Profile Image')
