nav.navOptionbar 
  .navOption
    a(href="/home").tooltip
      i(class="fas fa-home")
      span.tooltiptext Home
    
    a(href="/explore").tooltip
      i(class="fas fa-compass")
      span.tooltiptext Explore
    
    //- a(href="/tutorials").tooltip
    //-   i(class="fas fa-book")
    //-   span.tooltiptext Tutorials
    
    a(href="posts/create-post").tooltip
      i(class="fas fa-plus-circle")
      span.tooltiptext Create Post
    
    a(href="/settings").tooltip
      i(class="fas fa-cog")
      span.tooltiptext Settings

    a(href="/profile").tooltip
      i(class="fas fa-user")
      span.tooltiptext Profile
  
