
nav.navOptionbar 
    .navOption
        a(href="/home") 
            span.logo INSPIRO
        a(href='/explore') Explore
        a(href='/tutorials') Tutorials
        a(href='/settings') Settings
        a(href='/create-post') Create Post
        a(href='/profile') Profile
        a(href='/logout') Logout
        a(href='/') 
            img(src='/images/logo.png' alt='Logo')  
