nav.navOptionbar 
  .navOption
    .principal-options
      a(href="/home").tooltip
        i(class="fas fa-home")
        span.tooltiptext Home
      
      a(href="/search/").tooltip
        i(class="fas fa-compass")
        span.tooltiptext Explore
      
      a(href="/posts/create-post").tooltip
        i(class="fas fa-plus-circle")
        span.tooltiptext Create Post
      
      a(href=`/profile/user/${sessionUser.id}/edit`).tooltip
        i(class="fas fa-cog")
        span.tooltiptext Settings

      a(href=`/profile/user/${sessionUser.id}`).tooltip
        i(class="fas fa-user")
        span.tooltiptext Profile

    .secondary-options 
      a(href=`/auth/logout`).tooltip
        i(class="fas fa-sign-out-alt")
        span.tooltiptext Logout
  
