.posts
        for post in userPosts
            .post
                .post-images 
                    if post.images.length > 0
                        each image in post.images
                            img(src=image, alt="Post Image")
                .post-content
                h3 #{post.title}
                p #{post.content}
                .actions
                    .principal-actions
                        button.btn.like-btn.tooltip
                            i(class="fas fa-heart") 
                                span.tooltiptext Like this post
                        button.btn.comment-btn.tooltip
                            i(class="fas fa-comment") 
                                 span.tooltiptext Comment on this post
                        button.btn.share-btn.tooltip
                            i(class="fas fa-share") 
                                span.tooltiptext Share this post
                    .secondary-actions
                        button.btn.save.tooltip
                            i(class="fas fa-bookmark")
                                span.tooltiptext Save this post
                        
                    

<script src="/javascripts/script_tab_selector.js"></script>