.posts
        for post in userPosts
            .post
                .post-images 
                    if post.images.length > 0
                        each image in post.images
                            img(src=image, alt="Post Image")
                .post-content
                h3 #{post.title}
                p #{post.content}
                .actions
                    .principal-actions
                        button.btn.like-btn
                            i(class="fas fa-heart") 
                        button.btn.comment-btn
                            i(class="fas fa-comment") 
                        button.btn.share-btn
                            i(class="fas fa-share") 
                    .secondary-actions
                        button.btn.save 
                            i(class="fas fa-bookmark")
                        
                    

<script src="/javascripts/script_tab_selector.js"></script>