extends layout 

block styles
  link(rel="stylesheet", href="/stylesheets/home.css")

block content
    h1 Hello, #{user.name}!
    p Welcome back to your personalized home page.
    p Email: #{user.email}
    if user.profileImage
      img(src=user.profileImage alt='Profile Image')
    a(href='/users/logout') Logout

