doctype html
html(lang="en")
  head
    title= title
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="description", content="A simple web application")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(charset="utf-8")
    meta(name="author", content="Judith Morón Mora")
    meta(name="keywords", content="web, application, simple")

    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Tilt+Neon&family=Fira+Code:wght@400;500;700&display=swap")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css")
    
    link(rel="stylesheet", href="/stylesheets/common.css")
    link(rel="stylesheet", href="/stylesheets/nav.css")
    
    block styles 
    

  body
    block content
