extends layout

block styles
    link(rel="stylesheet", href="/stylesheets/profile.css")

block content
    include partials/nav.pug

    .profile-container
        section.card
            .profile-header
                img.profile-img(src=user.profileImage, alt="Profile Image")
                
            .user-info
                h1 #{user.username}
                //- p.bio #{user.bio}
                //- button.btn FOLLOW ME

            .profile-actions 
                button.btn
                    i(class="fas fa-user-edit") 
                    | Edit profile
                button.btn
                    i(class="fas fa-cog")
                    | Configuration
                button.btn
                    i(class="fas fa-sign-out-alt") 
                    | Log off

        section.user-details
            ul
                li
                    i(class="fas fa-image") 
                    | 0 posts
                li
                    i(class="fas fa-user") 
                    | 0 followers
                li
                    i(class="fas fa-user-friends") 
                    | 0 following
                    
        .user-actions 
            button.btn
                i(class="fas fa-user-plus") 
                | Follow
                
        section.tabs
            button.tab(data-tab="posts")
                h2 Posts
            button.tab(data-tab="portfolio")
                h2 Portfolio
            button.tab(data-tab="tagged")
                h2 Tagged

        section#tab-content
            include partials/posts.pug
            