extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/register.css")

block content
  .container 
    section.back
      a.strong(href="../") Back to Home

    section.register
      h1 Inspiro
      p Connect with other artist and share your work
      
      form(action="../users/register" method="POST" enctype="multipart/form-data")

        .form-group
          label(for="profileImage" class="profile-upload")
            img#previewImage(src="/images/profile.png", alt="Upload Image")
          input(type="file", name="profileImage", id="profileImage", hidden required)
      
        .name-surname
          .form-group
            label(for="name" hidden) Name:
            input(type="text" name="name" placeholder="Name" required)

          .form-group
            label(for="surname" hidden) Surname:
            input(type="text" name="surname" placeholder="Surname" required)

        .form-group
          label(for="email" hidden) Email:
          input(type="email" name="email" placeholder="Email"  required)

        .form-group
          label(for="username" hidden) Username:
          input(type="text" name="username" placeholder="Username"  required)

        .form-group
          label(for="password" hidden) Password:
          input(type="password" name="password" placeholder="Pasword"  required)

        .form-group
          label(for="phone" hidden) Phone:
          input(type="text" name="phone" placeholder="Phone" )

        .form-group
          label(for="bio" hidden) Bio:
          textarea(name="bio" placeholder="Bio" rows="4")

        .form-group
          label(for="category" hidden) Category:
          input(type="text" name="category" placeholder="Category" )

        //- .form-group
        //-   label(for="profileImage" hidden) Profile Image URL:
        //-   input(type="text" name="profileImage")

        .form-group
          button(type="submit") Register

  <script src="/javascripts/script_profile_image.js"></script>
        
