/* @import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Tilt+Neon&display=swap'); */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}
:root {
    --colorname1: #ff0000; /* Red color */
    --colorname2: #000000; /* Black color */
    --colorname3: #ffffff; /* White color */
    --colorname4: #333333; /* Dark gray color for text */


    --primary-color: #ff0000; /* Red color */
    --secondary-color: #000000; /* Black color */
    --background-color: #ffffff; /* White color */
    --text-color: #333333; /* Dark gray color for text */
    
    
    
    --font-size: 16px; /* Base font size */
    --h1-font-size: 2.5rem; /* Font size for h1 */
    --h2-font-size: 2rem; /* Font size for h2 */
    --h3-font-size: 1.75rem; /* Font size for h3 */
    --h4-font-size: 1.5rem; /* Font size for h4 */
    --h5-font-size: 1.25rem; /* Font size for h5 */
}


/*format links */
a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

a:hover {
    text-decoration: underline;
}
/* Apply Tilt Neon to headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Tilt Neon', sans-serif;
}

/* Apply Fira Code to text */
body,
p,
span,
a,
li,
button {
    font-family: 'Fira Code', monospace;
    /* color: red; */
}


h1 {
    font-size: var(--h1-font-size);
}
h2 {
    font-size: var(--h2-font-size);
}
h3 {
    font-size: var(--h3-font-size);
}
h4 {
    font-size: var(--h4-font-size);
}
h5 {
    font-size: var(--h5-font-size);
}

.strong {
    font-weight: bold;
}