/* @import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Tilt+Neon&display=swap'); */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}

:root {

    --dark-blue: #19395B;
    /* Primary color */
    --light-blue: #3DBACE;
    /* Light blue color */
    --light-beige: #F4F4F4;
    /* Light beige color */
    --light-gray: #97A4AC;
    /* Light gray color */
    --black: #0C0512; 



    --font-size: 16px;
    /* Base font size */
    --h1-font-size: 2.5rem;
    /* Font size for h1 */
    --h2-font-size: 2rem;
    /* Font size for h2 */
    --h3-font-size: 1.75rem;
    /* Font size for h3 */
    --h4-font-size: 1.5rem;
    /* Font size for h4 */
    --h5-font-size: 1.25rem;
    /* Font size for h5 */
}


/*format links */
a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease-in-out;
}

a:hover {
    text-decoration: underline;
}

/* Apply Tilt Neon to headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Tilt Neon', sans-serif;
}

/* Apply Fira Code to text */
body,
p,
span,
a,
li,
button {
    font-family: 'Fira Code', monospace;
    /* color: red; */
}

body{
    background-color: var(--light-beige);
    color: var(--black);
}


h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}

h4 {
    font-size: var(--h4-font-size);
}

h5 {
    font-size: var(--h5-font-size);
}

.strong {
    font-weight: bold;
}

i {
    font-size: 1.5rem;
}

section {
    margin-bottom: 1em;
}

hr{
    margin: 1em 0;
}

/* Main container styles */
.main-container {
    margin-bottom: 100px;
    overflow: hidden;
    /* same as sidebar width */
    /* padding: 1rem; */
}

/* Hover actions on buttons an icons */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 6px 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 70%;
    /* Above the button */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 0.9rem;
    white-space: nowrap;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.btn {
    background: none;
    border: none;
}

.btn-rounded {
    border-radius: 5px;
    padding: 10px 15px;
    background-color: var(--light-blue);
    border: none;
    color: white;
    font-size: 1em;
}

.btn-rounded:hover {
    background-color: var(--dark-blue);
    color:white;
}

.actions .btn:hover {
    cursor: pointer;
}



.error-message {
    color: red;
    margin-bottom: 1em;
    font-weight: bold;
}

.post img:hover, .post h3:hover{
    cursor: pointer;
}



@media (min-width: 768px) {
    .main-container {
        margin-left: 80px;
        margin-bottom: 0;
        /* same as sidebar width */
        /* padding: 1rem; */
    }
}