.post-view-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    width: 100%;
    height: 100vh;

    background-color: rgba(240, 240, 240, 0.8);
}

.post-specific {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 95%;
    height: auto;
    position: relative;
    border: 1px solid black;
}

.post-images {
    height: 100%;
}

.post-images img {
    /* height: 300px; */
    height: 100%;
    width: 100%;

}

.post-content {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 10px;
}

.post-date {
    font-size: 1px;
    color: gray;
    font-style: italic;
}

/* author in the post */
.post-user {
    width: 100%;
}

.post-user a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.post-user img,
.comment img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-user h3 {
    font-size: 1.2em;
    color: black;
    margin: 0;
}

/* Post actions */

/* posts action buttons */
.actions {
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 15px;
    padding: 10px;
}

.btn {
    background: none;
    border: none;
}

.actions .btn:hover {
    cursor: pointer;
}



.principal-actions,
.secondary-actions {
    width: 50%;
}

.principal-actions {
    display: flex;
    gap: 15px;
    justify-content: start;
}

.secondary-actions {
    display: flex;
    gap: 15px;
    justify-content: end;
}

/* Comment section */
/* Comment form */

.form-comment {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
}

.form-comment input {
    width: 90%;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.comments {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 400px;
    overflow: scroll;
    padding: 0px 0px;

}

.comment {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

/* Tablet view */
@media (min-width: 768px) {

    .post-view-container {
        justify-content: center;
        align-items: center;
    }


    .post-specific {
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: start;
    }


    .post-images {
        flex: 1;
    }

    .post-images img {
        /* height: 300px; */
        height: 100%;
        max-height: 700px;
        width: 100%;
        object-fit: fill;

    }


}

/* Desktop view */
@media (min-width: 992px) {}